---
import Disqus from "@/components/Disqus.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { DISQUS_ID } from "@/consts";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  htmlTitle={post.data.title}
  htmlDescription={post.data.description}
  image={post.data.cover}
>
  <div class="page-post bg-white shadow p-4">
    <div class="post-header">
      <div class="post-title">
        <h1 class="text-3xl font-bold max-md:text-xl">{post.data.title}</h1>
      </div>
      <div class="post-meta mt-5 text-a1 opacity-70">
        <small><FormattedDate date={post.data.pubDate} /></small>
      </div>
    </div>
    <div class="post-body mt-4">
      {
        post.data.cover && post.data.coverVisible && (
          <div class="flex justify-center mb-4">
            <img class="rounded" src={post.data.cover} alt={post.data.title} />
          </div>
        )
      }
      <div class="post-content prose max-w-none prose-img:rounded">
        <Content />
      </div>
    </div>
    <div class="post-footer">
      {
        post.data.tags?.length > 0 && (
          <div class="post-tags mt-4">
            {post.data.tags.map((tag) => (
              <a
                class="post-tag mr-2 inline-flex items-center leading-sm px-3 py-1 rounded-md bg-white text-gray-600 border italic hover:text-black hover:underline"
                href={`/tags/${tag.slug}`}
              >
                {tag.name}
              </a>
            ))}
          </div>
        )
      }
      <div class="addthis_inline_share_toolbox mt-4"></div>
    </div>
    {
      import.meta.env.PROD && (
        <div class="post-comments mt-10">
          <Disqus id={DISQUS_ID} />
        </div>
      )
    }
  </div>
  <script
    is:inline
    type="text/javascript"
    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-64233b6bb1690c0a"
  ></script>
</BaseLayout>

<style>
  .post-tag {
    font-size: 14px;
  }
</style>
